* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  
  ol,
  ul,
  li {
    list-style: none;
    display: block;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }

  button,
textarea,
select {
-moz-appearance: none !important;
appearance: none !important;
-webkit-appearance: none !important;
border-radius: 0;
}

body, input, textarea{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #138073;
}

body{
    background-color: #E6E6E6;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
#form{
    width: 100%;
    max-width: 520px;
    padding: 20px;
    margin: 0 auto;
}

h1{
    margin-bottom: 25px;

    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.2em;

    text-transform: uppercase;
    text-align: center;
}
@media (max-width: 520px){
    h1{
        text-align: right;
    }
}

input[type="text"] {
    display: block;
    width: 100%;
    height: 64px;
    padding-left: 20px;
    margin-bottom: 20px;
    border: 1px solid #808080;
    background-color: white;
}
.checkbox{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}
.checkbox a{
    text-decoration: underline;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
button{
    display: block;
    margin: 0 auto;
    font-size: 12px;
    width: 270px;
    height: 70px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: white;
    background-color: #39B69F;
}